<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jsproducerfund.dao.FundDao">

    <!--展示新发基金信息：
        基金代码、名称、币种、产品类型、产品种类、发行日期、发行价、资金募集方式
     -->
    <select id="findNewFunds" resultType="com.example.jsproducerfund.pojo.FundInfo">
        select fund_number,fund_name,currency,fund_type,fund_kind,issuing_date,unit_value,risk_grade,raise_way from fundInfo where fundStatus=0
    </select>

    <!--查询上市的基金信息：
        基金代码、名称、单位净值、累计净值、日涨幅、三个月涨幅、晨星评级、产品状态
     -->
    <select id="findOldFunds" parameterType="java.lang.String" resultType="com.example.jsproducerfund.pojo.FundInfo">
          select fund_number,fund_name,iopv,iopvs,dailyIncreases,threeMonthRise,fund_rating,fundStatus,raise_way from fundInfo
            <where>
              <if test="fund_type != null">
                  and fund_type=#{fund_type}
              </if>
              and fundStatus = 1
          </where>
    </select>

    <select id="findAll" parameterType="com.example.jsproducerfund.pojo.FundInfo" resultType="com.example.jsproducerfund.pojo.FundInfo">
        select fund_number,fund_name,iopv,iopvs,dailyIncreases,threeMonthRise,fund_rating,fundStatus,raise_way from fundInfo
        <where>
            <if test="fund_number != null">
                fund_number=#{fund_number}
            </if>
            <if test="fund_name != null">
                and fund_name=#{fund_name}
            </if>
            <if test="fundStatus != null">
                and fundStatus=#{fundStatus}
            </if>
            <if test="fund_rating != null">
                and fund_rating=#{fund_rating}
            </if>
            <if test="fund_scale != null">
                and fund_scale=#{fund_scale}
            </if>
            <if test="fund_company != null">
                and fund_company=#{fund_company}
            </if>
            <if test="threeMonthRise != null">
                and threeMonthRise between #{threeMonthRise-10} and #{threeMonthRise}
            </if>
        </where>
    </select>
    
    <select id="showFundDetails" parameterType="java.lang.String" resultType="com.example.jsproducerfund.pojo.FundInfo">
        select * from fundInfo where fund_number=#{fundNumber}
    </select>

    <select id="selFundManager" parameterType="java.lang.String" resultType="com.example.jsproducerfund.pojo.FundManager">
        select * from manager where portfolio_manager_name=#{managerName}
    </select>

    <insert id="addPerformance" parameterType="com.example.jsproducerfund.pojo.Performance">
        insert into performance(fund_number,fund_name,fund_type,iopy,iopys,day_or,weekly_rate_of_return,monthly_rate_of_return,march_rate_of_return,product_status,fund_rating)
        values (#{fund_number},#{fund_name},#{fund_type},#{iopy},#{iopys},#{day_or},#{weekly_rate_of_return},#{monthly_rate_of_return},#{march_rate_of_return},#{product_status},#{fund_rating})
    </insert>

    <!--为redis提供数据-->
    <select id="selPerformance" parameterType="java.lang.String" resultType="com.example.jsproducerfund.pojo.Performance">
        select * from performance where fund_number=#{fundNumber}
    </select>

</mapper>