<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jsproducerfund.dao.FundDao">

    <!--展示新发基金信息：基金代码、名称、币种、产品类型、产品种类、发行日期、发行价-->
    <select id="findNewFunds" resultType="com.example.jsproducerfund.pojo.FundInfo">
        select fund_number,fund_name,currency,fund_type,fund_kind,issuing_date,unit_value from fundInfo where new_product=0
    </select>

    <!--查询上市的基金信息：基金代码、名称、单位净值、累计净值、日涨幅、6、晨星评级、产品状态-->
    <select id="findAll" parameterType="com.example.jsproducerfund.pojo.Performance" resultType="com.example.jsproducerfund.pojo.Performance">
          select fund_number,fund_name,iopy,iopys,day_or,march_rate_of_return,fund_rating,product_status from performance
            <where>
              <if test="fund_number != null">
                  fund_number=#{fund_number}
              </if>
              <if test="fund_name != null">
                  and fund_name=#{fund_name}
              </if>
              <if test="fund_type != null">
                  and fund_type=#{fund_type}
              </if>
          </where>
    </select>

    <!--收藏基金展示-->
    <select id="selCollection" parameterType="com.example.jsproducerfund.pojo.CollectInfo" resultType="com.example.jsproducerfund.pojo.CollectInfo">
        select * from collection
        <where>
            <if test="username != null">
                username=#{username}
            </if>
        </where>
    </select>

    <!--收藏基金-->
    <insert id="addCollection" parameterType="com.example.jsproducerfund.pojo.CollectInfo">
        insert into collection(fund_name,username,fund_number) values (#{fund_name},#{username},#{fund_number})
    </insert>

    <!--添加购买紧基金记录-->
    <insert id="addBuyFund" parameterType="com.example.jsproducerfund.pojo.Buy">
        insert into buy(username,product_name,product_number,product_unit,product_money,buy_time)
        values(#{username},#{product_name},#{product_number},#{product_unit},#{product_money},#{buy_time})
    </insert>

    <!--查询购买基金/理财产品信息-->
    <select id="selBuyFound" parameterType="com.example.jsproducerfund.pojo.Buy" resultType="com.example.jsproducerfund.pojo.Buy">
        select buy_id,username,product_name,product_number,product_unit,product_money from buy
        <where>
            <if test="username != null">
                username=#{username}
            </if>
            <if test="product_name != null">
                product_name=#{product_name}
            </if>
            <if test="product_number != null">
                product_number=#{product_number}
            </if>
            <if test="product_rernings != null">
                product_rernings=#{product_rernings}
            </if>
        </where>
    </select>

    <!--基金开户-->
    <insert id="addFundAccount" parameterType="com.example.jsproducerfund.pojo.FundUser">
        insert into funduser(username,sex,birthday,phone,profession,address,card_type,card_number,risk_grade,beneficial_owner,capital_source,bank_name)
        values(#{username},#{sex},#{birthday},#{phone},#{profession},#{address},#{card_type},#{card_number},#{risk_grade},#{beneficial_owner},#{capital_source},#{bank_name})
    </insert>

    <!--修改用户承受风险等级-->
    <update id="updRiskGrade" parameterType="java.lang.String">
        update funduser set risk_grade=#{risk_grade} where username=#{name}
    </update>
</mapper>